@{
    ViewBag.Title = "Home Page";
}

<div class="phase-banner">
    <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="https://designpatterns.hackpad.com/GOV.UK-elements-feedback-sKrDyQxcfA2">feedback</a> will help us to improve it.</span>
    </p>
</div>

<div id="global-breadcrumb" class="header-context">
    <nav role="navigation">
        <ol class="group">
            <li><a href="/">Home</a></li>

        </ol>
    </nav>
</div>

<div class="text">

    <p class="lede">
        This guide explains how to make your service look consistent with CUI Compliance.
    </p>

    <ol class="list-number">
        <li><a asp-action="PatientBanner">Patient Banner</a></li>
        <li><a asp-action="PatientList">Patient List</a></li>
        <li><a asp-action="Date">Date and Time Display</a></li>
        <li><a asp-action="NhsNumber">NHS Number Input and Display</a></li>
        <li><a asp-action="PatientName">Patient Name Input and Display</a></li>
        <li><a asp-action="Gender">Sex and Current Gender Input and Display</a></li>
        <li><a asp-action="Address">Address Input and Display</a></li>
        <li><a asp-action="TelephoneNumber">Telephone Number Input and Display</a></li>
        <li><a asp-action="Snomed">Snomed</a></li>
    </ol>




    <h2 class="heading-medium">Looking for the HTML?</h2>
    <p>
        The HTML snippets can be found in the <a href="/snippets/">GOV.UK elements snippets page</a>.
    </p>

</div>
