@{
    ViewBag.Title = "Patient Banner";
}

<div class="phase-banner">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h3>CHANDRASEKHAR, Subramanyan</h3>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">Born</div>
        <div class="column-third">NHS No.</div>
    </div>
    <div class="grid-row">
        <div class="column-third">Address</div>
        <div class="column-third">Gender</div>
    </div>
</div>