@import "colours.scss";
@import "grid_layout.scss";
@import "typography.scss";

.cui-rule {
    @include core-14;
      margin-bottom: $gutter*0.5;

    .highlight {
        font-style: normal;
        color: $nhs-dark-blue;
        display:block;
    }

    .cui-ref{
          color: $grey-2;
          display:block;
    }

    .rule-not-met{
        color: $grey-2;
        font-weight:bold;
    }

    td{
        @include core-14;
    }


}
    .warning {

          // Add a red border to the left of the field
          border-left: 4px solid $nhs-orange;
          padding-left: 10px;

          @include media(tablet) {
            border-left: 5px solid $nhs-orange;
            padding-left: $gutter-half;
          }
        }


