@{
    ViewBag.Title = "Home Page";
}

<div class="phase-banner">
    <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="https://designpatterns.hackpad.com/GOV.UK-elements-feedback-sKrDyQxcfA2">feedback</a> will help us to improve it.</span>
    </p>
</div>

<div class="content">
    <div class="content-inner hub">
        
        <div class="grid-section">
            <div class="grid-1-3"><figure><img alt="GOV.UK VERIFY" src="/assets/images/govuk-verify-457ba9535f7b09531ceeefe0223913ee.gif"></figure>
            </div>
            <div class="grid-2-3">
                <h1>GOV.UK Verify stops someone pretending to be you</h1>
                <p>It’s secure, and helps prevent identity theft.</p>
                <div class="actions"><a class="button-action" id="next-button" href="/about-certified-companies">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>