@{
    ViewBag.Title = "Home Page";
    Layout = "_LayoutPrototype";
}


<div id="global-breadcrumb" class="header-context">
    <ol role="breadcrumbs" class="group">
        <li><a href="/">Home</a></li>
        <li><a href="/browse/working">Working, jobs and pensions</a></li>
        <li><strong><a href="/browse/working/redundancies-dismissals">Redundancies, dismissals and disciplinaries</a></strong></li>
    </ol>
</div>
@*<div class="phase-banner-alpha">
    <p>
        <strong class="phase-banner-alpha">ALPHA</strong>
        <span>This is a new service – your <a href="https://designpatterns.hackpad.com/GOV.UK-elements-feedback-sKrDyQxcfA2">feedback</a> will help us to improve it.</span>
    </p>
</div>*@

<div id="wrapper" class="transaction service">
    <div class="grid-row">
        <main id="content" role="main" class="">
            <header class="page-header">
                <div>
                    <h1>

                        Claim for redundancy and monies owed
                    </h1>
                </div>
            </header><div class="article-container group">


                <div class="content-block">
                    <div class="inner">

                        <section class="intro">
                            <div class="get-started-intro">
                                <p>You can claim money (eg redundancy pay, wages you’re owed, holiday pay) if you’ve lost your job because your employer has been made insolvent.</p>

                                <p>Use this service if:</p>

                                <ul>
                                    <li>
                                        you’ve been made redundant because <a href="/your-rights-if-your-employer-is-insolvent">your employer is insolvent</a>
                                    </li>
                                    <li>you have a case reference number (you get this from the insolvency practitioner)</li>
                                    <li>you have your National Insurance number</li>
                                    <li>you have an email address</li>
                                    <li>you’re a national of the UK, the <a href="/eu-eea">European Economic Area</a> or you’re a Commonwealth citizen with permission to work in the UK</li>
                                </ul>
                            </div>
                            <p id="get-started" class="get-started group">
                                <a href="https://claim.redundancy-payments.service.gov.uk/claims/choose-how-to-verify" rel="external" data-transaction-slug="claim-redundancy" class="button" role="button">Start now</a>
                            </p>
                        </section><section class="more">
                            <div id="before-you-start">
                                <h1>Before you start</h1>

                                <p>The following may help you with your claim:</p>

                                <ul>
                                    <li>your official letter of redundancy</li>
                                    <li>your employment details, including dates and how much you were paid</li>
                                    <li>your <a href="/holiday-entitlement-rights">holiday entitlement</a> and the number of days of holiday you’ve taken</li>
                                    <li>details of any money you’re owed by your employer</li>
                                    <li>copies of any letters sent to or received from your employer or an employment tribunal</li>
                                    <li>details of any money you still owe to your employer</li>
                                    <li>your bank or building society details (so you can get paid)</li>
                                </ul>
                                <h2>Help using the service</h2>

                                <p>Contact The Insolvency Service if you need help using the service.</p>

                                <div class="contact">
                                    <p>
                                        <strong>The Insolvency Service</strong><br>
                                        Email: <a href="mailto:redundancypaymentsonline@insolvency.gsi.gov.uk">redundancypaymentsonline@insolvency.gsi.gov.uk</a><br>
                                        Telephone: 0330 331 0020 (select option 2)<br>
                                        Monday to Friday, 9am to 5pm <br><a href="/call-charges">Find out about call charges</a>
                                    </p>
                                </div>

                            </div>



                        </section>
                    </div>
                </div>
                <div class="meta-data group">
                    <p class="modified-date">Last updated: 26 March 2015</p>
                </div>


            </div>
        </main>

        <!-- related -->
        <div class="related-container">

            <div class="related" id="related">


                <div class="inner group related-subsection">

                    <h2 id="parent-subsection">Redundancies, dismissals and disciplinaries</h2>


                    <nav role="navigation" aria-labelledby="parent-subsection">
                        <ul>
                            <li>
                                <a href="/your-rights-if-your-employer-is-insolvent">Your rights if your employer is insolvent</a>
                            </li>


                            <li class="related-topic"><a href="/browse/working/redundancies-dismissals" title="More in Redundancies, dismissals and disciplinaries">More <span class="visuallyhidden">in Redundancies, dismissals and disciplinaries</span></a></li>

                        </ul>
                    </nav>
                </div>


                <div class="inner group related-other">

                    <h2 id="parent-other">Elsewhere on GOV.UK</h2>


                    <nav role="navigation" aria-labelledby="parent-other">
                        <ul>
                            <li>
                                <a href="/claim-loss-notice">Claim for loss of notice</a>
                            </li>


                        </ul>
                    </nav>
                </div>




                <div class="inner group">
                    <a class="return-to-top" href="#content">Return to top ↑</a>
                </div>
            </div>

        </div>
        <!-- end related -->

    </div>

    <div class="report-a-problem-toggle-wrapper js-footer">        <p class="report-a-problem-toggle">          <a href="" class="js-report-a-problem-toggle">Is there anything wrong with this page?</a>        </p>      </div><div class="report-a-problem-container">
        <div class="report-a-problem-inner">
            <div class="report-a-problem-content">
                <h2>Help us improve GOV.UK</h2>
                <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
                    <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
                    <input id="url" name="url" type="hidden" value="https://www.gov.uk/claim-redundancy"><input id="source" name="source" type="hidden" value=""><input id="page_owner" name="page_owner" type="hidden" value=""><p>Don’t include personal or financial information, eg your National Insurance number or credit card details.</p>

                    <label for="what_doing">What you were doing</label>
                    <input id="what_doing" name="what_doing" type="text"><label for="what_wrong">What went wrong</label>
                    <input id="what_wrong" name="what_wrong" type="text"><div class="button-wrapper">
                        <button name="commit" type="submit" class="button">Send</button>
                    </div>
                    <input type="hidden" name="javascript_enabled" value="true"><input type="hidden" name="referrer" value="https://www.google.co.uk/">
                </form>
            </div>
        </div>
    </div>
</div>
